
/* barra de carga*/
.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #1a1a1a;
    border: 1px solid #03ff14;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px 0;
}

.progress-fill {
    width: 50%; /* Por ahora estático, o puedes usar una animación */
    height: 100%;
    background-color: #03ff14;
    box-shadow: 0 0 10px #03ff14;
    animation: loading-animation 2s infinite linear;
}

@keyframes loading-animation {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(200%); }
}
